@charset "utf-8";
@import "reset.css";

/* common style */
.hidden {border: 0 !important; clip: rect(1px, 1px, 1px, 1px) !important; -webkit-clip-path: inset(50%) !important; clip-path: inset(50%) !important; height: 1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important; white-space:nowrap !important;}
.disabled {opacity:0.4;}
.alLeft {text-align:left !important;}
.alCenter {text-align:center !important;}
.alRignt {text-align:right !important;}
.flR {float:right;}
.disF {display:flex; align-items:center;}
.flexE {justify-content:flex-end; display:flex;}
.flexS {justify-content:flex-start; display:flex;}
.flexB {justify-content:space-between; display:flex;}
.flexW {flex-wrap: wrap; gap: 4px;}
.gap20 {gap:20px;}
.decoLine {display: inline-block; margin-top:40px; padding-top:40px; height: 1px; border-top:1px solid #d3d7d5; width: 100%;}
.decoLineS {display: inline-block; margin-top:20px; padding-top:20px; height: 1px; border-top:1px solid #d3d7d5; width: 100%;}
.decoS::after {content: "*"; display: inline-block; color:#ff4646; margin-left:2px;}
.line {display: inline-block; width: 1px; height: 20px; margin-left:8px; padding-left:8px; border-left:1px solid #d3d7d5;}
.line_02 {display: inline-block; width: 1px; height: 14px; margin-left:8px; padding-left:8px; border-left:1px solid #69706d;}
section {min-width: 1680px;}

/* size */
.wfull {width: 100%;}
.w300 {width: 300px !important;}
.w600 {width: 600px !important;}
.w1000 {width: 1000px !important;}
.h60 {height: 60px;}
.h150 {height: 150px !important;}
.h160 {height: 160px !important;}
.h360 {height: 360px !important;}

/* font */
.fcGreen,
.fcG {color:#00b272 !important;}
.fcRed {color:#ff4646 !important;}
.fcBK_01 {color:#012011 !important;}
.fcBK {color:#012011 !important;}
.fcOrg {color:#ff8024 !important;}
.fcBlue {color:#1472ff !important;}
.fcYl {color:#f7b200 !important}
.txtBold {font-weight:bold !important;}

/* color */
.bgGrey {background:#f9faf9 !important;  border:1px solid #d3d7d5;}
.popCont.bgGrey {border-top:none; border-bottom:none;}
.bgGreen {background:#bff7c1 !important; border:1px solid #00b272 !important;}
.bgRed {background:#ffb0b0 !important; border:1px solid #ff4646 !important;}

/* margin / padding */
.mgTAuto {margin-top:auto !important;}
.mgT0 {margin-top:0 !important;}
.mgT16 {margin-top:16px !important;}
.mgT20 {margin-top:20px !important;}

.mgLAuto {margin-left:auto !important;}
.mgL0 {margin-left:0 !important;}
.mgL12 {margin-left:12px !important;}
.mgL20 {margin-left:20px !important;}
.mgL30 {margin-left:30px !important;}

.mgR0 {margin-right:0 !important;}
.mgR30 {margin-right:30px !important;}

.mgB0 {margin-bottom:0 !important;}
.mgB12 {margin-bottom:12px !important;}
.mgB15 {margin-bottom:15px !important;}
.mgB20 {margin-bottom:20px !important;}
.mgB24 {margin-bottom:24px !important;}
.mgB28 {margin-bottom:28px !important;}
.mgB40 {margin-bottom:40px !important;}

.pdB32 {padding-bottom:32px !important;}

/* login */
.login {width:100vw; min-width: auto; height: 100vh; display: flex;}
.login::before {content: ""; width:64%; height:calc(100% - 80px); background: url('../images/login_bg.png') no-repeat left center; background-size:cover; margin:40px; border-radius: 40px;}
.loginWrap {width: 36%; display: inline-flex; justify-content: center; align-items: center;}
.loginContents {width: 400px;}
.loginContents .loginLogo,
.loginContents .loginLogo > span.fcGreen {font-size:40px; letter-spacing: -1.6px; line-height: 1; font-weight: bold; text-align: center; margin-bottom:60px;}

.loginContents .loginForm {display: flex; flex-direction: column; gap: 12px 0;}
.loginContents .loginForm .k-input-solid {height: 60px; font-size:18px; padding:0 20px;}
.loginContents .loginBtm {display: flex; justify-content: space-between; margin:12px 0 40px;}
.loginContents .loginBtm .loginChk {color:#69706d; font-size: 15px; font-weight: normal;}
.loginContents .loginBtm .loginIdFw {font-size: 15px; font-weight: normal; color:#afb6b2;}
.loginContents .loginBtn {margin-bottom:60px; width: 100%;}
.loginContents .loginBtn .k-button-text {font-size:18px;}
.loginCmt {font-size:15px; font-weight: normal; color:#012011; text-align: center;}
.loginContents .fcG {font-weight: 500;}

/* header */
header {padding:0 25px 0 20px; background-image: linear-gradient(to right, #d8f9d3, #e9f5cf 26%, #d3eee5 52%, #d5eaff 75%, #ccdaff); width: 100%; display: flex; justify-content: space-between; align-items: center; height: 60px; z-index: 98; position:relative;}
header .logo,
header .logo > span {color:#012011; font-size:20px; font-weight: bold;}
header .logo .fcG {color:#007d4f !important;}

.navWrap .nav.depth01 {display:flex; position: relative; width:100%; gap: 0 32px;}
.navWrap .nav.depth01 > li {position:relative;}
.navWrap .nav.depth01 > li > a {display: block; height: 60px; line-height: 60px; font-size:18px; font-weight: 500; color:#343b37;}
.navWrap .nav.depth01 > li.on > a {color:#00b272;}
.navWrap .nav.depth01 > li:hover > a {color:#00b272;}
.navWrap .nav.depth01 > li ul {display:none;}
.navWrap .nav.depth01 > li .depth02 {position:absolute; background:#fff; padding:8px; border: solid 1px #00b272; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1); border-radius:12px; width:max-content;}

.navWrap .nav.depth01 > li .depth03 {position:absolute; background:#fff; padding:8px; border:1px solid #00b272; box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.25); border-radius:12px; width:max-content; transform:translateX(100%)translateY(-11%); left:7px; top:0; z-index:10;}

.navWrap .nav.depth01 > li .depth02 > li {position:relative;}
.navWrap .nav.depth01 > li .depth02 > li > a,
.navWrap .nav.depth01 > li .depth02 > li > .depth03 > li > a {color:#012011; font-size:15px; font-weight:500; letter-spacing:-0.6px; display:block; padding:8px;}
.navWrap .nav.depth01 > li .depth02 > li > a {min-width:182px;}
.navWrap .nav.depth01 > li .depth02 > li > .depth03 > li > a {min-width: 166px;}

.navWrap .nav.depth01 > li .depth03::before {content:""; display:block; padding-left:50px; margin-left:-50px; height:-webkit-fill-available; position:absolute; width:115%; height:48px; left:-75%;}

.navWrap .nav.depth01 > li .depth02 > li:hover,
.navWrap .nav.depth01 > li .depth02 > li:focus,
.navWrap .nav.depth01 > li .depth02 > li > a:hover,
.navWrap .nav.depth01 > li .depth02 > li > a:focus,
.navWrap .nav.depth01 > li .depth02 > li.hover > a  {background:#eafae5; border-radius: 8px;}

.navWrap .nav.depth01 > li .depth02 > li > .depth03 > li > a:hover,
.navWrap .nav.depth01 > li .depth02 > li > .depth03 > li > a:focus {background:#eafae5; border-radius: 8px; color:#012011;}

.navWrap .nav.depth01 > li:hover > .depth02,
.navWrap .nav.depth01 > li .depth02 li:hover .depth03 {display:block;}

.userWrap {display: flex; align-items: center; gap:20px; color:#343b37; font-size:14px; font-weight: 500;}
.userWrap > a {font-size: 14px;}
.userName,
.iconSetPw,
.iconLogout {display: inline-flex; align-items: center;}
.userName:hover,
.userName:focus,
.iconLogout:hover,
.iconLogout:focus,
.iconSetPw:hover,
.iconSetPw:focus {color:#010220;}
.iconSetPw::before,
.iconLogout::before,
.userName::before {content: ""; display: inline-block; width:24px; height: 24px; background: url('../images/icon_user.png') no-repeat center; background-size:24px 24px; margin-right:4px;}
.iconSetPw::before {background: url('../images/icon_set_pw.png') no-repeat center; background-size:24px 24px; margin-right:4px;}
.iconLogout::before {background: url('../images/icon_logout.png') no-repeat center; background-size:24px 24px; margin-right:4px;}

/* footer */
footer {width: 100%; height: 32px; z-index:11; border-top:1px solid #d3d7d5; line-height: 1; padding:0 20px; font-size:14px; color:#afb6b2; font-weight: normal; position:fixed; background:#fff; display: flex; bottom:0; justify-content: space-between; align-items: center}

/* popup */
.modal {display:none; position:fixed; top:0; left:0; width:100vw; height:100vh; background-color:rgb(0, 0, 0, 0.7); z-index:99;}
.modal.on {display:block;}
.cmn_popup {position:absolute; top:50%; left:50%; transform:translateX(-50%)translateY(-50%); border-radius:20px; overflow:hidden; background:#fff; max-height:800px;}
.popTit {display:flex; justify-content: space-between; align-items:center; height: 80px; border-bottom:1px solid #d3d7d5; padding:0 40px;}
.popTit > h3,
.popTit > h3 span {font-size:28px; font-weight: bold; color:#012011;}
.popTit > a.btnClose {display:inline-block; width:24px; height:24px; background:url('../images/icon_close.png') no-repeat center; background-size:24px 24px;}

.popCont {max-height: 635px; padding:40px; overflow-y:scroll;}
.popCont.type01 {padding: 0;}
.popCont.bgGrey {background:#f9faf9; border-left:1px solid #d3d7d5;}
.popCont .col1 {padding:40px; border-bottom:1px solid #d3d7d5;}
.popCont .col1 > .cmn_total_wrap {margin-bottom:0;}
.popCont .col2 {display: flex; width: 100%;}
.popCont .col2 .popTbl {width: 800px; padding: 40px;}
.popCont .col2 .popTbl:last-child {background:#f9faf9; border-left:1px solid #d3d7d5;}
.popCont .col2 .popTbl:last-child.bgNone {background:#fff; border-left:none;}

/* popup contents > scroll */
.popCont.scrollBox { overflow-y:hidden;}
.popCont.scrollBox .col2 { overflow-y:hidden;}
.popTbl.scrollBox,
.popCont.scrollBox .col2 .popTbl { overflow-y:scroll; max-height: 635px;}


.popCont .popTbl .popContTit { margin-bottom:28px; display: flex;}
.popCont .popTbl .popContTit,
.popCont .popTbl .popContTit > i {color:#012011; font-size:20px; font-weight: bold;}
.popCont .popTbl .popContTit > i {margin-left:8px;}
.popCont .popTbl .popContTit > .btnTxt {margin-left:auto;}

.popBtn,
.popBtnS {padding: 20px 40px; border-top:1px solid #d3d7d5; display: flex; justify-content: end; align-items: center;}
/*.popBtnS {height: 80px;}*/
.popBtnS .btnWrap.type04 > button {height: 44px; font-size:16px; padding:0 20px;}
.popBtn .btnWrap > button {width: 120px;}

.popTbl.type02 .cmn_pop_ipt .iptTit {width: 140px;}
.popTbl.type02 .tbl .cmn_pop_ipt .k-input-solid,
.popTbl.type02 .tbl.iptCol2 .cmn_pop_ipt .k-input-solid {width:calc(100% - 140px);}

.popTbl.type02 .iptBox03 {width: 450px;}

.cmn_gird_wrap .cmn_grid {width: 100%; overflow-y:scroll; background:none;}
.cmn_gird_wrap .cmn_grid tr {background:#fff;}
.cmn_pop_ipt {display: flex; position:relative;}
.cmn_pop_ipt + .cmn_pop_ipt {margin-top:8px;}
.cmn_pop_ipt .iptTit {color:#343b37; font-size:14px; font-weight: 500; width: 100px; margin-right: 12px; height: 32px; line-height: 32px; display: inline-block; letter-spacing: -0.64px;}
.cmn_pop_ipt .iptInnerTxt {position: absolute; right: 10px; line-height: 32px; color:#1472FF; font-size:14px; font-weight: 500; text-decoration: underline;}
.cmn_pop_ipt .k-textarea {height: 150px;width:calc(100% - 112px);}
.cmn_pop_ipt .ns-custom-dropdownlist,
.cmn_pop_ipt .k-dropdownlist {/*max-width: 600px;*/ width:calc(100% - 112px) !important;}
.w600 .cmn_pop_ipt .ns-custom-dropdownlist,
.w600 .cmn_pop_ipt .k-dropdownlist {max-width: 408px;}
.cmn_pop_ipt.w218 .ns-custom-dropdownlist,
.cmn_pop_ipt.w218 .k-dropdownlist {max-width: 226px;}
.cmn_pop_ipt.w315 .ns-custom-dropdownlist,
.cmn_pop_ipt.w315 .k-dropdownlist {max-width: 315px;}
.iptType02 .cmn_pop_ipt .ns-custom-dropdownlist,
.iptType02 .cmn_pop_ipt .k-dropdownlist {max-width: 485px;}
.cmn_pop_ipt .inpArea.cal > .k-input {width: 100%;}
.tbl .cmn_pop_ipt .k-input-solid,
.tbl.iptCol2 .cmn_pop_ipt .k-input-solid {width:calc(100% - 112px);}

.popTbl .cmn_sub_ipt {display: flex; align-items: center; margin-bottom:10px;}
.popTbl .cmn_sub_ipt .txtTit {white-space: nowrap; min-width: 112px;}

.tbl .inpArea  {width:calc(100% - 112px);}
.tbl .cmn_pop_ipt .inpArea > .k-input-solidm,
.tbl.iptCol2 .cmn_pop_ipt .inpArea > .k-input-solid {width: 100%;}
.iptBox {display: flex; align-items: center;}
.iptDeco {color:#69706d; font-size:16px; margin:0 3px;}
.iptBox02 {width:600px; justify-content: space-between;}
.iptBox03 {width:477px; justify-content: space-between;}
.iptBox03 > .btnTxt {width: 103px;}
.tbl .cmn_pop_ipt .iptBox02 > .k-dropdownlist {width: 160px;}
.tbl .cmn_pop_ipt .iptBox02 > .k-input-solid {width:calc(100% - 168px);}
.tbl .cmn_pop_ipt .iptBox02 > .k-input-solid {width:calc(100% - 168px);}
.tbl.iptCol2 .cmn_pop_ipt .iptBox .k-input-solid {width:100px;}
.tbl.iptCol2 .cmn_pop_ipt .iptBox.type02 .k-input-solid {width:100%; max-width: 110px;}
.tbl.iptCol2 .cmn_pop_ipt .iptBox.type02 .iptDeco {margin:0 3px;}

.totalTxtPop,
.totalTxtPop > i {font-size:18px; font-weight: 500;}
.totalTxtPop {color:#69706d; display: flex; align-items: center; margin-bottom:28px;}
.totalTxtPop  > i {color:#00b272; margin-left: 4px;}

.popSubTit {font-size:18px; font-weight: bold; line-height:1; margin-bottom:12px; color:#010220;}
.popTxt {color:#010220; font-size:15px; font-weight: normal; line-height: 1.53; letter-spacing: -0.6px;}

/* sub layout */
.subTitWrap {width: 100%; padding:0 20px; height: 52px; border-bottom:1px solid #d3d7d5; display: inline-flex; flex-direction: row-reverse; justify-content: start;}
.subTitWrap .subStep,
.subTitWrap .subStep > span {font-size:14px; font-weight: 500; color:#69706d; display: inline-flex; align-items: center; line-height: 1;  margin-top:6px;}
.subTitWrap .subStep > span::after {display: inline-block; content: '>'; color:#69706d; margin:0 4px; font-size:12px;}
.subTitWrap .subStep > span:last-child:after {display:none;}
.subTitWrap .btnWrap {position:absolute; right: 25px;}
.subTit {display: flex; justify-content: space-between; align-items: center; margin-right: 12px;}
.subTit .titTxt {font-size:28px; font-weight: bold; color:#012011; line-height: 1;}

.subContWrap {display: flex; width: 100vw; min-width: 1680px; position: relative;}
.subContWrap.type01 {display: block;}
.subContWrap .subCont {height: calc(100vh - 145px); overflow-y: scroll;}
.subContWrap.type01 .subCont {padding:40px;}
.subContWrap.type01 .subCont.cmn_map_full {padding:0;}
.subContWrap .subContL {width: 320px; border-right:1px solid #d3d7d5; padding:20px; overflow-y: scroll;}
.subContWrap .subContL .txtTitL {color:#012011; font-size:18px; font-weight: bold; margin-bottom:24px;}
.subContWrap .subContL .txtTit {font-size:14px; font-weight: 500; color:#343b37; margin-bottom:4px;}
.subContWrap .subContR {width: calc(100vw - 320px); min-width:1360px; padding:20px 15px 20px 20px; overflow-y:scroll;}
.subContWrap .subContR.col2 {padding:0; display: flex;}
.subContWrap .subContR.col2 > .contents {width: 50%; padding:40px;}
.subContWrap .subContR.col2 > .contents:first-child {border-right: 1px solid #d3d7d5;}
.subContWrap .subContR.col2 > .contents:last-child {background:#f9faf9;}

.subContWrap .subContL .cmn_sub_ipt {margin-bottom:8px;}
.subContWrap .subContL > button.k-button,
.subContWrap .subContL form > button.k-button {margin-top:32px;}

/* table type */
.tbl {width: 100%;}
.tbl tr td {padding-bottom:8px;}
.tbl tr:last-child td {padding-bottom:0;}
.tblTopTxt {font-size:16px; font-weight: 500; color:#343b37;}

/* main */
.mainWrap {height: calc(100vh - 92px); overflow-y: scroll; padding:40px;}

/* grid - box style */
.gridWrap {width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); gap: 28px 20px;}
.gridItem {border-radius: 20px; border:1px solid #b1d0c5; padding:24px; width:100%; background:#fff;}

.gridWrap .gridItem .gridWrap {gap: 20px;}

.grid_cis .gridItem:nth-child(1) {grid-column: 1 / 4;}
.grid_cis .gridItem:nth-child(3) {grid-column: span 2;}

.grid_dsa {grid-template-columns: repeat(2, 1fr);}

.grid_pis {grid-template-columns: repeat(8, 1fr);}
.grid_pis .gridItem:nth-child(1) {grid-column: 1 / 7;}
.grid_pis .gridItem:nth-child(2) {grid-column: 7 / 9;}
.grid_pis .gridItem:nth-child(3) {grid-column: 1 / 5;}
.grid_pis .gridItem:nth-child(4) {grid-column: 5 / 7;}
.grid_pis .gridItem:nth-child(5) {grid-column: 7 / 9;}
.grid_pis .gridItem:nth-child(6) {grid-column: 1 / 4;}
.grid_pis .gridItem:nth-child(7) {grid-column: 4 / 7;}
.grid_pis .gridItem:nth-child(8) {grid-column: 7 / 9;}

.grid_sis {grid-template-columns: repeat(4, 1fr);}
.grid_sis > .gridItem:nth-child(1) {grid-column: 1 / 3;}
.grid_sis > .gridItem:nth-child(2) {grid-column: 3 / 5;}
.grid_sis > .gridItem {max-height: 552px; overflow-y:scroll;}

.grid_sis_01,
.grid_sis_02 {grid-template-columns: repeat(3, 1fr);}

.grid_isa {grid-template-columns: repeat(6, 1fr);}
.grid_isa .gridItem:nth-child(1),
.grid_isa .gridItem:nth-child(3) {grid-column: 1 / 4;}
.grid_isa .gridItem:nth-child(2),
.grid_isa .gridItem:nth-child(4) {grid-column: 4 / 7;}
.grid_isa .gridItem:nth-child(5) {grid-column: 1 / 3;}
.grid_isa .gridItem:nth-child(6) {grid-column: 3 / 7;}

.grid_rsa {grid-template-columns: repeat(4, 1fr);}
.grid_rsa .gridItem:nth-child(1) {grid-column: 1 / 3;}
.grid_rsa .gridItem:nth-child(2) {grid-column: 3 / 5;}

.popTbl .contTop,
.gridItem .contTop {display: flex; justify-content: space-between; margin-bottom:28px;}
.popTbl .contTop .contTit,
.gridItem .contTop .contTit {color:#012011; font-weight: bold; font-size:20px; line-height: 1;}
.gridItem .contTitS {font-size:18px; font-weight: bold; color:#343b37; margin-bottom:16px;}
.popTbl .contTop .contTit .titTxt,
.gridItem .contTop .contTit .titTxt {font-weight: normal; font-size:16px; margin-left:8px; }
.gridItem .cont {display: flex; flex-direction: column;}
.gridItem .cont.gridWrap {display: grid;}
.gridItem .cont .contBox {display: flex; width: 50%; justify-content: space-around; align-items: center; position:relative;}
.gridItem .cont .contBox::after {content: ""; display: inline-block; width: 1px; height: 20px; background:#d3d7d5; position:absolute; right: 0;}
.gridItem .cont .contBox:last-child::after {display: none;}
.gridItem .cont .contBox .listLine {width:auto;}

.gridItem .chartCol2 {position:relative; align-items: center;}
.gridItem .chartCol2,
.gridItem .cont.col2 {display: flex; flex-direction: row; justify-content: space-between;}
.gridItem .chartCol2.cont {height:calc(100% - 48px); gap: 40px;}
.gridItem .chartCol2.cont > .chartCol2 {height: 100%;}
.gridItem .chartCol2 > div,
.gridItem .cont.col2 > div {width:calc(50% - 16px);}
.gridItem .chartCol2 .listLine {width: calc(100% - 240px);}
.gridItem .chartCol2 .chartLabel {position:absolute; left:0; bottom:0; width: 100%; margin:0;}

.gridItem .cont.col2.type01 {display: flex; align-items: center; gap: 40px; height: calc(100% - 48px);}
.gridItem .cont.col2.type01 .totalLine,
.gridItem .cont.col2.type01 .listLine {width: 50%;}

.mainTotal {color:#69706d; font-size:16px; font-weight: normal; line-height: 1; text-align: center;}
.mainTotal .txtName {color:#343b37; font-weight: 500; font-size:18px;}
.mainTotal .txtNum {color:#012011; font-size:32px; font-weight: bold; margin:0 4px;}
.mainTotal .txtCmt {font-size:14px; font-weight: normal;}
.mainTotal .txtCmt > i {margin-left:4px;}
.mainTotal .txtCmt.type02 > i {margin-left:0; margin-right: 4px;}

.totalLine {display: flex; justify-content: space-between; align-items: center; height: 44px; border-bottom:1px solid #d3d7d5;}
.totalLine .totalName {color:#343b37; font-size:18px; font-weight: 500;}
.totalLine .totalNum {color:#69706d; font-size:16px; font-weight: normal;}
.totalLine .totalNum > i {color:#012011; font-size:32px; font-weight: bold;}

.chartWrap.col2 {margin-right:32px;}
.chartLabel {margin:10px 0; display: flex; align-items: center;}
.labelTxt,
.labelTxtC {display: inline-flex; align-items: center; font-size:10px; color:#69706d; margin-right:12px; font-weight: normal; line-height: 1;}
.labelTxt::before,
.labelTxtC::before,
.checkList input[type='checkbox'] + label.labelTxtC > span::before {content: ""; display: inline-block; width: 20px; height: 6px; background:#d3d7d5; margin-right:4px;}
.label02::before {background: #00b272;}
.label03::before {display:none;}
.label03 > span {display: inline-block; width: 20px; height: 1px; background: #ff8024; position:relative; margin-right: 4px;}
.label03 > span::after,
.label03 > span::before {content: ""; display: inline-block; width: 4px; height: 4px; background:#ff8024; border-radius: 50%; position:absolute; top:-1.5px;}

.label03.labelG > span,
.label03.labelG > span::after,
.label03.labelG > span::before {background:#00b272;}

.label03.labelY > span,
.label03.labelY > span::after,
.label03.labelY > span::before {background:#ffca41;}

.label03 > span::after {right:0;}
.label03 > span::before {left:0;}

.labelTxtC::before,
.checkList input[type='checkbox'] + label.labelTxtC > span::before {border-radius: 4px; width: 12px; height: 12px;}
.labelTxtC.label04::before,
.checkList input[type='checkbox'] + label.labelTxtC.label04 > span::before {background:#00b272;}
.labelTxtC.label05::before,
.checkList input[type='checkbox'] + label.labelTxtC.label05 > span::before {background:#ff8024;}
.labelTxtC.label06::before,
.checkList input[type='checkbox'] + label.labelTxtC.label06 > span::before {background:#ffca41;}
.labelTxtC.label07::before,
.checkList input[type='checkbox'] + label.labelTxtC.label07 > span::before {background:#5685ff;}
.labelTxtC.label08::before,
.checkList input[type='checkbox'] + label.labelTxtC.label08 > span::before {background:#ff7ba3;}
.labelTxtC.label09::before,
.checkList input[type='checkbox'] + label.labelTxtC.label09 > span::before {background:#c948d5;}
.labelTxtC.label10::before,
.checkList input[type='checkbox'] + label.labelTxtC.label10 > span::before {background:#6d26e1;}
.labelTxtC.label11::before,
.checkList input[type='checkbox'] + label.labelTxtC.label11 > span::before {background:#ff4646;}

.checkList input[type='checkbox'] + label.labelTxtC::before {background: #fff;}
.checkList input[type='checkbox']:checked + label.labelTxtC::before {background:url('../images/checkbox_on.png') no-repeat center #fff; background-size: 12px 10px;}

.chartLabel > .k-dropdownlist {width: 156px; margin-left:auto;}

.itemSW {padding: 20px 0; display: flex; align-items: center; justify-content: center;}
.itemSW::before {content: ""; display: inline-block; width: 80px; height: 80px; background: url('../images/icon_sw.png') no-repeat center; background-size:80px 80px; margin-right: 12px;}
.itemSW > p {color:#012011; font-size:16px; font-weight: 500;}

.treeWrap {height: 100%; overflow-y:scroll;}
.popTbl .treeWrap {max-height: 500px; overflow-y:scroll;}

/* 범례아이콘 추가 */
.labelIcon {display: inline-flex; align-items: center; font-size:15px; color:#010220; font-weight: normal; line-height: 1;}
.labelIcon::before {content: ""; display: inline-block; width: 24px; height: 24px; margin-right:8px;}

.labelIcon01_01::before {background:url('../images/icon_round_01.png') no-repeat center; background-size: 24px 24px;}
.labelIcon01_02::before {background:url('../images/icon_round_02.png') no-repeat center; background-size: 24px 24px;}
.labelIcon01_03::before {background:url('../images/icon_round_03.png') no-repeat center; background-size: 24px 24px;}
.labelIcon01_04::before {background:url('../images/icon_round_04.png') no-repeat center; background-size: 24px 24px;}
.labelIcon01_05::before {background:url('../images/icon_round_05.png') no-repeat center; background-size: 24px 24px;}
.labelIcon01_06::before {background:url('../images/icon_round_06.png') no-repeat center; background-size: 24px 24px;}
.labelIcon01_07::before {background:url('../images/icon_round_07.png') no-repeat center; background-size: 24px 24px;}

.labelArr01::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_1.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}
.labelArr02::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_2.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}
.labelArr03::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_3.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}
.labelArr04::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_4.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}
.labelArr05::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_5.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}
.labelArr06::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_6.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}
.labelArr07::before {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_arr_1_7.png') no-repeat center; background-size: 24px 24px; margin-right:8px;}

/* list type */
.listLine {width: 100%; min-width: 160px;}
.listLine li {height: 32px; border-bottom:1px solid #d3d7d5; margin-bottom:12px; display: flex; justify-content: space-between; font-size:15px; font-weight: normal; align-items: center ; width: 100%;}
.listLine.type02 li {height: 48px; margin-bottom:0;}
.listLine li:last-child {margin-bottom:0}
.listLine li .listName {color:#343b37; margin-right: 5px;}
.listLine li .listTotal {color:#69706d;}
.listLine li .listTotal .txtNum {font-size:20px; font-weight: bold; color:#012011; margin-left:4px;}
.listLine li.subTit {border-bottom:1px solid #afb6b2;}
.listLine li.subTit > span {color:#69706d; font-weight: 500;}

.listTxt li {display: flex; justify-content: space-between; line-height: 1; height: 22px;}
.listTxt li:last-child {margin-bottom:0;}
.listTxt li .txt {color:#343b37; font-size: 16px; font-weight: 500; margin-right: 44px;}
.listTxt li .txtNum {color:#343b37; font-size:14px; font-weight: normal;}
.listTxt li .txtNum > i {color:#012011; font-size: 18px; font-weight: 500;}

.cardListWrap {display: flex; flex-direction: column; gap: 28px; counter-reset: number 0;}
.cardList {border:1px solid #b1d0c5; border-radius: 12px; background:#e7f7e3; padding:20px; display: flex; justify-content: space-between; align-items: center; gap:20px;}
.cardNum {display: inline-block; width: 60px; text-align: center;}
.cardNum::before { content: counter(number); counter-increment: number 1; color:#343b37; font-size:28px; font-weight: bold;}
.cardCont {width: calc(100% - 160px);}
.cardCont th,
.cardCont td {padding:16px 0 16px; border-bottom:1px solid #d3d7d5; height: 44px; vertical-align: middle; color: #343b37;}
.cardCont tr:last-child th,
.cardCont tr:last-child td {border-bottom:none; padding-bottom:0;}
.cardCont tr:first-child th,
.cardCont tr:first-child td {padding-top:0;}
.cardCont th,
.cardCont .th {font-size:18px; font-weight: bold; text-align: left;}
.cardCont td {font-size:16px; font-weight: 500;}
.cardIpt {display: flex; align-items: center;}
.cardIpt .itpTit {width: 120px;}
.cardIpt.type01 {display: grid; align-items: center; grid-template-columns: 1fr 1fr 1fr 1fr; gap:8px 20px;}
.cardIpt.type02 {max-width: 530px; overflow-x:scroll; gap:12px; padding-bottom:0; align-items: normal;}
.cardIpt.type02.maxW {max-width: 600px;}
.cardIpt.type02 .itpTit {width: 120px; line-height: 32px; font-size: 14px; font-weight: 500;}
.cardIpt.type02 > div {display: flex; flex-direction: column; gap:4px;}
.cardIpt.type02 > div .ns-custom-dropdownlist,
.cardIpt.type02 > div .k-dropdownlist,
.cardIpt.type02 > div .k-input {width: 120px;}
.cardBtnWrap {margin-left:12px;}

.cardIconBtn {width: 32px; height: 32px; display: inline-block; border-radius: 8px;}
.cardIconBtnS {width: 24px; height: 24px; display: inline-block; border-radius: 4px;}
.cardDel {border:1px solid #ff4646; background:url("../images/icon_del_red.png") no-repeat center #fff; background-size:24px 24px;}
.cardPlus {border:1px solid #00b272; background:url("../images/icon_card_plus.png") no-repeat center #fff; background-size: 16px 16px;}
.cardDelS {border:1px solid #ff4646; background:url("../images/icon_card_del.png") no-repeat center #fff; background-size: 8px 8px;}

.cardList .cardDel.k-disabled {background:url("../images/icon_del_dis.png") no-repeat center #ecedef; background-size:24px 24px; border:1px solid #696a70;}

.cardIconBtn .k-button-text,
.cardIconBtnS .k-button-text {display: none;}

.checkList {display: flex; flex-direction: column; gap: 8px;}
.cardBtn {display: inline-flex; justify-content: end; width: 100%; margin-bottom:10px;}
.cardBtn > div {width: 50px;}

.listView {display: grid; gap: 12px; grid-template-columns: repeat(3, 1fr); height: 60px; overflow-y:scroll;}
.listItem {border:1px solid #00b272; border-radius: 4px; height: 34px; color:#012011; font-size:14px; font-weight: normal; padding:0 12px; position:relative; display: inline-flex; align-items: center;}
.listItem .iconClose {position: absolute; top:0; right: 0;}

.listCol2 li {display: flex; margin-bottom:8px; gap: 6px;}
.listCol2 li:last-child {margin-bottom: 0;}
.listCol2 li .txt {color:#343b37; font-size:14px; font-weight: 500; width: 50%; gap: 15px; letter-spacing: -0.56px;}
.listCol2 li .txt .txtName {width: 100px; display: inline-block; font-size:12px;}
.listCol2 li .txt > i {font-weight: normal; color:#69706d;}

/* cmn_grid */
.totalTxt {color:#69706d; font-size:18px; font-weight: 500; margin-bottom:10px;}
.totalTxt > i {font-size:18px;}
.gridTopTxt {color:#343b37; font-size:16px; font-weight: 500; margin-bottom:10px;}

/* cmn_total */
.cmn_total_wrap {border:1px solid #b1d0c5; background:#e4fbe7; padding:0 40px; display:flex; align-items: center; justify-content: space-around; height: 100px; border-radius: 12px; margin-bottom:28px;}
.cmn_total_wrap .cmn_total {width:max-content; display: flex; align-items: center; justify-content: center;}
.cmn_total .totalName {color:#343b37; font-size: 22px; font-weight: 500;}
.cmn_total .totalName.type01::before {content: ""; display: inline-block; width: 12px;}
.cmn_total .totalNum {font-size:40px; font-weight: bold; color:#343b37; margin:0 4px 0 10px;}
.cmn_total .txt {font-weight: 300; font-size:24px;}

.cmn_total_wrap.type01 {justify-content: center; position: relative;}
.cmn_total_wrap.type01 > .disF {gap:40px;}
.cmn_total_wrap.type01 > .btnIcon {position:absolute; right:20px;}

.cmn_total_wrap.type02 {justify-content: space-evenly;}
.txtWrap {display: flex; gap:40px; align-items: center;}
.txtWrap .txtL {height: 63px;}
.txtWrap .txtL > p {line-height: 1;}
.txtWrap .txtL .txt {color:#343b37; font-size:22px; font-weight: 500; margin-bottom:6px;}
.txtWrap .txtL .txtNum {color:#343b37; font-size:24px; font-weight: 300;}
.txtWrap .txtL .txtNum > i {color:#00b272; font-size: 40px; font-weight: bold; margin-right: 4px; line-height: 1;}

/* cmn_map_wrap */
.popMapView {max-height: none; overflow: hidden;}
.cmn_map_wrap {border-radius: 20px; border:1px solid #b1d0c5; height: 360px; position: relative; overflow: hidden;}
.popMapView .popTbl .cmn_map_wrap {height: 600px;}
.cmn_map_wrap .btnWrap {position: absolute; right: 20px; top:20px; flex-direction: column;}
.cmn_map_full {padding:0; position:relative;}

.mapMenu {background:#fff; box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1); width: 320px; position:absolute; left:0; top:0; height: 100%;}
.mapMenu .cmn_grid {height:calc(100% - 170px); overflow-y: scroll;}
.mapInfoWrap {width: 320px; position: absolute; left:340px; top:20px;}

.mapBtnWrap {width: 288px; position: absolute; right: 20px; top:20px; display: grid; gap: 12px; grid-template-columns: repeat(3, 1fr);}
.mapBtnWrap .iconBox {grid-column: 3 / 4;}

.popTbl .mapBtnWrap {z-index: 2; width: fit-content; display: inline-block; right: 20px;}

.legendWrap {width: 160px;}
.iptBtn,
.infoBoxWrap {box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1); border-radius: 12px; border:1px solid #00b272; background:#fff;}
.iptBtn {width: 160px; height: 44px; display: flex; align-items: center; justify-content: space-between; padding: 0 10px 0 20px; color:#012011; font-size:15px; font-weight: 500; cursor: pointer;}
.iptBtn:hover,
.iptBtn:focus,
.iptBtn.on {border:1px solid #007d4f;}
.iptBtnM {width: 320px; height: 52px; font-size: 18px; font-weight: bold;}
.iptBtn::after {content: ""; width: 24px; height: 24px; background: url('../images/icon_dropdown.png') no-repeat center; background-size: 24px 24px;}
.iptBtn:hover::after,
.iptBtn:focus::after,
.iptBtn.on::after {transform: rotate(180deg);}
.infoBoxWrap {width: 160px; padding:20px; position:absolute; top:60px;}
.infoBoxWrapM {width: 320px;}
.infoBoxWrap .hBox {max-height:70vh; overflow-y:scroll;}

.legendWrap .infoList li {height: 24px; margin-bottom:8px;}
.legendWrap .infoList li:last-child {margin-bottom:0;}
.legendWrap .infoList li input[type='checkbox'] + label {font-size: 15px;}

.infoBox {border-bottom:1px solid #d3d7d5; padding:20px 0;}
.infoBoxWrap .infoBox:first-child {padding-top:0;}
.infoBoxWrap .infoBox:last-child {border-bottom:none;}
.infoBox .txtTit {font-size:16px; font-weight: 500; color:#343b37; margin-bottom:12px;}

.mapinfoPop {border:1px solid #afb6b2; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1); background:#fff; width: 520px; position:absolute; left:672px; top:20px; border-radius: 20px; overflow-y:scroll; display: none;}
.mapinfoPop .popCont {max-height: 74vh;}
.mapinfoPop.on {display: block;}
.mapinfoPop .popTit {border-bottom:1px solid #d3d7d5; display: flex; align-items: center; justify-content: space-between; height: 52px; padding:0 10px 0 20px;}
.mapinfoPop .popTit > h3 {color:#012011; font-size:18px; font-weight: bold;}
.mapinfoPop .popCont {padding:20px;}

.setWrap {display: flex; align-items: center; justify-content: space-between; margin-top:8px; width: 100%;}
.setWrap > span {color:#343b37; font-size:10px; font-weight: normal;}

.mapinfoPop::-webkit-scrollbar,
.infoBoxWrap *::-webkit-scrollbar,
.mapinfoPop .popCont::-webkit-scrollbar {width:5px; height:5px;}

.inpSearch {position: relative;}
.inpSearch::after {content: ""; width: 32px; height: 32px; background: url('../images/icon_search.png') no-repeat center; background-size: 24px 24px; display: inline-block; cursor: pointer; position: absolute; right: 0;}
.inpSearch .k-input-solid {padding-right: 38px;}

.route {color:#054a31; font-size:12px; letter-spacing: -0.48px; font-weight: 500; background:#fff; border-radius: 4px; border:2px solid #00b272; padding:6px; line-height: 1; display: inline-block; position:absolute;}

.leftInfoWrap {height:calc(100% - 160px); position:relative;}
.leftInfoWrap .leftInfo {width: 100%; max-height: calc(100% - 52px); height: auto; position:relative; z-index: auto;}

.infoTit {height: 52px; padding: 0 20px; display: flex; align-items: center; justify-content: space-between; color:#010220; font-size:18px; font-weight: bold; border-top:1px solid #d3d4d7; border-bottom:1px solid #d3d4d7; width: 100%; background:#fff;}
.infoTit.brdTopN {border-top:none;}
.infoTit::after {content: ""; display: inline-block; width: 24px; height: 24px; background:url('../images/icon_dropdown.png') no-repeat center; background-size:24px 24px;}
.leftInfo.on .infoTit::after,
.infoToggle.on .infoTit::after {transform: rotate(-180deg);}
.leftInfo .infoList,
.infoToggle .infoList {display: none;}

.leftInfoWrap .btnWrap.type03 {gap:8px;}
.leftInfoWrap .btnWrap.type03 > .btnBox {margin-bottom:12px;}
.leftInfoWrap .btnWrap.type03 > .btnBox button {width: 100%;}
.leftInfoWrap .totalTxt {margin:12px 0 12px 20px;}

.map_cmt {color:#696a70; font-size: 14px; font-weight: normal; line-height: 22px; margin-top:10px;}

/* cmn_text_box */
.cmn_textbox_wrap {display: flex; gap:40px; margin-bottom:28px;}
.cmn_textbox {width: 100%;}
.cmn_textbox .textboxTit {color:#343b37; font-size:16px; font-weight: 500; margin-bottom:12px;}

/* form type */
.iptCal {display:flex;}
.iptCal.col2 {display:flex; justify-content: space-between; align-items: center;}
.iptCal.row2 {flex-direction: column; gap: 12px;}
.iptCal.row2 .inpArea {display: flex; align-items: center; gap:8px;}
.iptCal.row2 .inpArea .k-input-solid {width: 196px;}
.iptCal.row2 .inpArea .iptCalTxt {font-size:14px; color:#343b37;}

.bgBox {padding: 20px; border:1px solid #e0efe8; background:#f7fff4; border-radius: 20px;}
.bgBox .txtTit {color:#012011; font-size:18px; font-weight: bold; margin-bottom:24px;}
.iptWrap {display: flex; gap: 20px;}
.iptWrap .iptBox {display: flex; flex-direction: column; align-items: flex-start;}
.iptBox .iptTit {color:#343b37; font-size:16px; font-weight: 500; margin-bottom:4px;}
.iptBox .iptCalTxt {color:#343b37; font-size:14px; font-weight: normal; margin: 0 12px 0 8px;}
.iptBox .iptCalTxt:last-child {margin-right:0;}

.iptCmt {margin:12px 0 0 150px; color:#FF4646; font-size: 14px; font-weight: 400; line-height: 1;}
.iptCmt_02 {margin:12px 0 0 120px; color:#FF4646; font-size: 14px; font-weight: 400; line-height: 1;}

/* icon */
.icon {display:inline-block; width:40px; height:40px;}
.icon.iconNext {background:url('../images/icon_page_next.png') no-repeat center; background-size:24px 24px;}
.icon.iconNext:hover,
.icon.iconNext:focus {background:url('../images/icon_page_next_on.png') no-repeat center; background-size:24px 24px;}
.icon.iconPrev {background:url('../images/icon_page_next.png') no-repeat center; background-size:24px 24px; transform: rotate(-180deg);}
.icon.iconPrev:hover,
.icon.iconPrev:focus {background:url('../images/icon_page_next_on.png') no-repeat center; background-size:24px 24px; transform: rotate(-180deg);}
.icon.iconExpend {width: 44px; height: 44px; border:1px solid #d3d7d5; border-radius: 12px; background: url('../images/icon_expand.png') no-repeat center #fff; background-size:24px 24px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.icon.iconExpend:hover,
.icon.iconExpend:focus {background: url('../images/icon_expand.png') no-repeat center #eafae5; background-size:24px 24px;}
.icon.iconArr {width:60px; height: 44px; border:1px solid #d3d7d5; border-radius: 12px; background: url('../images/icon_arr.png') no-repeat center 4px #fff; background-size:17px 16px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); display: inline-flex; align-items: end; justify-content: center;}
.icon.iconArr > span {color:#69706d; font-size:10px; font-weight: normal; margin-bottom:4px;}
.icon.iconArr:hover {background: url('../images/icon_arr.png') no-repeat center 4px #eafae5; background-size:17px 16px;}
.icon.iconArr:focus,
.icon.iconArr.on {background: url('../images/icon_arr.png') no-repeat center 4px #bff7c1; background-size:17px 16px; border:1px solid #00b272;}
.icon.iconPlus {width: 44px; height: 44px; background: url('../images/icon_plus.png') no-repeat center #fff; background-size:24px 24px;}
.icon.iconPlus:hover,
.icon.iconPlus:focus {background: url('../images/icon_plus.png') no-repeat center #eafae5; background-size:24px 24px;}
.icon.iconMinus {width: 44px; height: 44px; background: url('../images/icon_minus.png') no-repeat center #fff; background-size:24px 24px;}
.icon.iconMinus:hover,
.icon.iconMinus:focus {background: url('../images/icon_minus.png') no-repeat center #eafae5; background-size:24px 24px;}
.icon.iconSet {width: 24px; height: 24px; background: url('../images/icon_set.png') no-repeat center #fff; background-size:24px 24px;}
.icon.iconClose {width: 24px; height: 24px; background: url('../images/icon_close_s.png') no-repeat center; background-size:24px 24px;}
.icon.iconCloseBK {width: 24px; height: 24px; background: url('../images/icon_close_b.png') no-repeat center; background-size:24px 24px;}
.icon.iconCam {width: 44px; height: 44px; background: url('../images/icon_camera.png') no-repeat center #fff; background-size:24px 24px; border:1px solid #d3d7d5; border-radius:12px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.icon.iconCam:hover,
.icon.iconCam:focus {background: url('../images/icon_camera.png') no-repeat center #eafae5; background-size:24px 24px;}

.iconBox {border-radius: 12px; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);border:1px solid #d3d7d5; display:inline-flex; flex-direction: column; overflow: hidden;}
.iconBox .icon {border:none; box-shadow: none; border-radius: 0;}
.iconBox .icon:first-child {border-bottom:1px solid #d3d7d5;}

.iconErr,
.iconNoti {display: inline-flex; align-items: center;}

.iconErr::before,
.iconNoti::before  {content: ""; display: inline-block; width:24px; height: 24px; background-size:24px 24px;}

.iconErr::before {background: url('../images/icon_err.png') no-repeat center; background-size:24px 24px; margin-right: 8px;}
.iconNoti::before {background: url('../images/icon_notice.png') no-repeat center; background-size:24px 24px; margin-right: 8px;}

/* text-type */
.txtLink {color:#00b272; text-decoration: underline;}
.txtLink:hover,
.txtLink:focus {color:#007d4f;}

.txtBoxS {padding:0 5px; height: 20px; color:#fff; font-size:12px; font-weight: 500; letter-spacing: -0.48px; border-radius: 4px; display: inline-flex; align-items: center; justify-content: center;}
.txtBoxS_01 {background:#69706d;}
.txtBoxS_02 {background:#ff8024;}

.txtBg {background:#eafae5; border-radius: 8px; height: 40px; padding:0 12px; color:#012011; font-size:16px; font-weight: 500; display: flex; align-items: center;}
.txtBg > span {color:#69706d; font-size:14px; font-weight: normal; margin-left:8px; display: flex; align-items: center;}

/* btn */
.k-button-solid-primary.btnIcon {border:1px solid #00b272; background:#fff; color:#00b272; border-radius: 8px; padding:0 16px; font-size:15px; font-weight: 500; height: 44px;}
.k-button-solid-primary.btnIcon:hover {border:1px solid #007d4f; background:#fff; color:#007d4f;}
.k-button-solid-primary.btnIcon:focus {border:1px solid #054a31; background:#fff; color:#054a31;}
.k-button-solid-primary.btnIcon .k-button-text {display: flex; align-items: center;}
.btnCal .k-button-text::before {content: ""; width: 24px; height: 24px; display: inline-block; background: url('../images/icon_calendar_btn.png') no-repeat center; background-size:24px 24px; margin-right:8px;}
.btnWrap {display: inline-flex; gap: 12px; align-items: center;}
.btnWrap.type01 {display: flex; justify-content: end; margin-top:28px;}
.btnWrap.type01 button {min-width: 120px;}
.btnWrap.type02 {display: flex; justify-content: space-between;}
.btnWrap.type02 .btnWrapL {display: inline-flex; gap: 8px;}
.btnWrap.type02 .btnWrapR {display: inline-flex; align-items: center; gap: 10px;}
.btnWrap.type03 {padding: 20px; width: 100%; display: grid;}
.btnWrap.type03 > .btnBox {display: flex; gap: 8px;}
.btnWrap .btnCmt {color:#343b37; font-size:14px; letter-spacing: -0.56px; font-weight: normal;}

.radioBox {display: inline-flex; align-items: center;}

.tabMenu {display: inline-flex; gap: 8px;}
.tabMenu .btnTab {border:1px solid #afb6b2; border-radius: 8px; color:#69706d; font-size:15px; font-weight: 500; background:#fff; height: 36px;}
.tabMenu .btnTab:hover {border:1px solid #afb6b2; background:#eafae5; color:#69706d;}
.tabMenu .btnTab:focus,
.tabMenu .btnTab.on {border:1px solid #00b272; background:#bff7c1; color:#054a31;}

/*loading*/
.loading{font-size:16px; color:#fff; font-weight:500; position:absolute; top:50%; left:50%; transform:translateX(-50%)translateY(-50%);}
.loading::Before{content:""; display:block; width:140px; height:140px; background:url('../images/bus_loading.gif')no-repeat; background-size:140px 140px;}

/* error page */
.cmn_err_wrap,
.errTxtWrap {display: flex; align-items: center; flex-direction: column; text-align: center;}
.cmn_err_wrap {gap: 32px; min-width: 400px; height: calc(100vh - 60px); justify-content: center;}
.errTxtWrap {gap:15px;}
.errTxtL {color:#010220; font-size:40px; font-weight: bold; line-height: 1; padding-top:230px; background: url('../images/img_err.png') no-repeat top; background-size:240px 200px; width: 240px;}
.errTxtM {color:#010220; font-size:18px; font-weight: 500; line-height: 1;}
.errTxtS {color:#696a70; font-size:16px; font-weight:normal; line-height: 1;}

/* chart color list */
.chart_bg_01 {background:#1472ff;}
.chart_bg_02 {background:#ff8024;}
.chart_bg_03 {background:#ffca41;}
.chart_bg_04 {background:#f2ea24;}
.chart_bg_05 {background:#b9e047;}
.chart_bg_06 {background:#63c38a;}
.chart_bg_07 {background:#159ebc;}
.chart_bg_08 {background:#46b1fe;}
.chart_bg_09 {background:#9390ff;}
.chart_bg_10 {background:#6d26e1;}
.chart_bg_11 {background:#c948d5;}
.chart_bg_12 {background:#af3b80;}
.chart_bg_13 {background:#ff7ba3;}
.chart_bg_14 {background:#ffa2a2;}
.chart_bg_15 {background:#f44e4e;}

/* bus line / 노선도 타입 */
.busLineWrap {display: grid; position: relative; max-width: 1370px; min-height: 500px; background:#fff; overflow:hidden;}

.busLine {display: flex; gap: 0px; position:relative; z-index: 1; padding-top:48px; height: 100px;}
.busLine::before {content: ""; display: inline-block; height: 4px; width: calc(100% - 210px); background:#afb1b6; position:absolute; top:58px; left:105px;}
.busLine .item {position:relative; z-index:5; width: 100%; min-width: 110px;}
.busLine .item.itemNone {z-index: 4;}
.itemName,
.itemName_red {font-size:14px; font-weight: 500; color:#010220; text-align: center; display: flex; flex-direction: column; align-items: center; letter-spacing: -0.56px; min-width: 100px; min-height:63px;}
.itemName::before {content: ""; display: inline-block; width: 24px; height: 24px; background: url('../images/icon_arr_round_02.png') no-repeat center #fff; background-size:24px 24px; margin-bottom:4px; border-radius: 50px;}
.itemName_red::before {content: ""; display: inline-block; width: 24px; height: 24px; background: url('../images/icon_arr_round_01.png') no-repeat center #fff; background-size:24px 24px; margin-bottom:4px; border-radius: 50px;}
.itemName.itemNone::before,
.itemName_red.itemNone::before {display: none;}

.itemName > span,
.itemName_red > span {max-width: 80px;font-size:14px; font-weight: 500; color:#010220; overflow: hidden; text-overflow: ellipsis;}
.busLineWrap .busLine:nth-child(even) {flex-direction: row-reverse;}
.busLineWrap .busLine:nth-child(even) .itemName::before,
.busLineWrap .busLine:nth-child(even) .itemName_red::before {transform: rotate(-180deg);}
.busLineWrap .busLine:nth-child(even) .item.last .itemName::before,
.busLineWrap .busLine:nth-child(even) .item.last .itemName_red::before {transform: rotate(0);}
.busLineWrap .busLine:nth-child(even)::after {content: ""; display: inline-block; height:90%; width:4px; background:#afb1b6; position:absolute; left:96px; top:66px;}
.busLineWrap .busLine:nth-child(odd)::after {content: ""; display: inline-block; height:95%; width:4px; background:#afb1b6; position:absolute; right:96px; top:57px;}
.busLineWrap .busLine.last::after {display: none;}

.busLineWrap .busLine:nth-child(odd) .item:first-child,
.busLineWrap .busLine:nth-child(even) .item:last-child {flex-direction: column; display: flex; align-items: flex-end;}
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName,
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName_red,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName_red {flex-direction: row-reverse; align-items: flex-start; justify-content: space-between;}

.busLineWrap .busLine:nth-child(odd) .item.last:first-child .itemName,
.busLineWrap .busLine:nth-child(even) .item.last:last-child .itemName {flex-direction:row-reverse; padding-right:5px;}
.busLineWrap .busLine:nth-child(odd) .item.last:first-child .txtPoint.fcYl,
.busLineWrap .busLine:nth-child(even) .item.last:last-child .txtPoint.fcYl {bottom:20px; top:auto; right: 5px; left: auto;}

.busLineWrap .busLine:first-child .item:first-child .itemName::before,
.busLineWrap .busLine.last .item.last .itemName::before,
.busLineWrap .busLine:first-child .item:first-child .itemName_red::before,
.busLineWrap .busLine.last .item.last .itemName_red::before {background: url('../images/icon_map.png') no-repeat center; background-size:24px 24px;}

.busLineWrap .busLine:nth-child(odd) .item:last-child,
.busLineWrap .busLine:nth-child(even) .item:first-child {flex-direction: column; display: flex;}
.busLineWrap .busLine.last .item.last {flex-direction: column; display: flex; align-items: flex-end;}
.busLineWrap .busLine.last .item.last .itemName {background:#fff;}
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName,
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName,
.busLineWrap .busLine.last .item.last .itemName,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName_red,
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName_red,
.busLineWrap .busLine.last .item.last .itemName_red {flex-direction: row; align-items: flex-start; justify-content: space-between;}

.busLineWrap .busLine:nth-child(even).last .item.last .txtPoint {right:0; left:auto;}
.busLineWrap .busLine:nth-child(even).last .item.last .itemName,
.busLineWrap .busLine:nth-child(even).last .item.last .itemName_red {flex-direction: row-reverse; background:#fff; width:120px;}
.busLineWrap .busLine:nth-child(even).last .itemNone::before {left:auto; right:-120px;}

.busLineWrap .busLine.last .item .txtPoint,
.busLineWrap .busLine:first-child .item .txtPoint {position:absolute; top:-30px}
.busLineWrap .busLine.last .item .txtPoint {left:10px;}

.busLineWrap .busLine:nth-child(odd) .item:first-child,
.busLineWrap .busLine:nth-child(even) .item:last-child {margin-right:40px;}
.busLineWrap .busLine:nth-child(even) .item:first-child,
.busLineWrap .busLine:nth-child(odd) .item:last-child {margin-left: 40px;}
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName,
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName_red,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName_red {text-align: right; justify-content: end;}

.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName,
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName_red,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName_red {justify-content: end;}
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName,
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName_red,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName_red,
.busLineWrap .busLine:nth-child(even) .item.last .itemName,
.busLineWrap .busLine:nth-child(odd) .item.last .itemName,
.busLineWrap .busLine:nth-child(even) .item.last .itemName_red,
.busLineWrap .busLine:nth-child(odd) .item.last .itemName_red {text-align: left;}
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName,
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName_red,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName_red {justify-content: start;}
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName > span,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName > span,
.busLineWrap .busLine:nth-child(odd) .item:first-child .itemName_red > span,
.busLineWrap .busLine:nth-child(even) .item:last-child .itemName_red > span,
.busLineWrap .busLine:nth-child(even) .item.last .itemName > span {padding-right:15px;}
.busLineWrap .busLine:nth-child(even) .item.last .itemName > span {text-align: right;}
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName > span,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName > span,
.busLineWrap .busLine:nth-child(even) .item:first-child .itemName_red > span,
.busLineWrap .busLine:nth-child(odd) .item:last-child .itemName_red > span,
.busLineWrap .busLine:nth-child(odd) .item.last .itemName > span {padding-left:15px;}

.itemNone {width: 100%; height: 50px; position:relative}
.itemNone::before {content: ""; display: block; width: 150%; height: 50px;  position:absolute; left:-100px; z-index: 3; background:#fff;}

.busIconL,
.busIconL_02 {display: inline-flex; flex-direction: column; align-items: center; z-index:6; margin-top:8px; cursor: pointer; background:#fff;}
.busIconL_02 {margin-top:0; top:-37px; left:34px;}
.busLineWrap .busLine:nth-child(even) .item:first-child .busIconL_02,
.busLineWrap .busLine:nth-child(odd) .item:last-child .busIconL_02 {left:-10px;}
.busLineWrap .busLine:nth-child(odd) .item:first-child .busIconL_02,
.busLineWrap .busLine:nth-child(even) .item:last-child .busIconL_02 {left:auto; right: -10px;}
.busBefore {left:-30px;}
.busAfter {left:auto; right: -30px}
.busLineWrap .busIconL,
.busLineWrap .busIconL_02 {position:absolute;}
.busIconL::before,
.busIconL_02::before {content: ""; display: inline-block; width: 40px; height: 38px; background: url('../images/icon_bus_05.png') no-repeat center -2px; background-size: 40px 40px;}
.busBlue::before {background: url('../images/icon_bus_04.png') no-repeat center -2px; background-size: 40px 40px;}
.busIconL .route,
.busIconL_02 .route {position: relative; padding:0 6px; height: 24px; display: inline-flex; align-items: center;}
.busIconL:hover .route,
.busIconL_02:hover .route {background:#d9ebff;}
.busIconL:focus .route,
.busIconL.on .route,
.busIconL_02:focus .route,
.busIconL_02.on .route {background:#1472ff; color:#1472ff;}

/* map tooltip */
#__react-kakao-maps-sdk___Map img.markerIcon {background:#fff !important; border-radius: 50px;}
.map_tooltip {min-width: 170px; padding:12px; position:relative; border-radius: 12px; border:1px solid #afb1b6 !important; background:#fff; margin-top:-125px;}
.map_tooltip::before {content: ""; width: 20px; height: 20px; background: url('../images/tooltip_arr_c.png') no-repeat center -2px; background-size:20px 18px; position:absolute; left:45%; bottom:-20px;}
.tooltip_tit {color:#1472ff;}
.tooltip_txt {font-size:15px; font-weight: 500; color:#010220;}
.tooltip_txt_s {color:#696a70; font-size:14px; font-weight: normal;}

/* marker img 방향 / 범례 아이콘 동일 class 사용가능 */
.map_marker_up {transform: rotate(180deg);}
.map_marker_up.labelIcon {transform: rotate(0);}
.map_marker_up.labelIcon::before {transform: rotate(180deg);}