/* common */
input.k-input,
textarea.k-textarea {padding-inline-start: 12px;}
input.k-input:disabled,
input.k-input[disabled],
textarea.k-textarea:disabled,
textarea.k-textarea[disabled] {border:1px solid #a5e2c5; background:#edefec; opacity: 1;}
.k-input.k-disabled {opacity: 1; background:#edefec !important;}
.k-floating-label-container {padding-top:0;}
.k-input-md .k-input-inner,
.k-picker-md .k-input-inner {padding-block: 0; padding-inline: 0;}

/* input */
.k-input-solid {padding:0 20px; height: 32px; border:1px solid #a5e2c5; border-radius: 8px; color:#012011; font-size:14px; font-weight: normal;}
.k-input-solid:hover,
.k-input-solid.k-hover {border:1px solid #007d4f;}
.k-input-solid:focus,
.k-input-solid.k-focus {box-shadow: none; border:1px solid #054a31;}
.k-input-solid::placeholder {color:#afb6b2;}

.k-input-solid.err {padding:0 20px; height: 32px; border:1px solid #ff4646; border-radius: 8px; color:#012011;}
.k-input-solid.err:hover,
.k-input-solid.err.k-hover {border:1px solid #ff4646;}
.k-input-solid.err:focus,
.k-input-solid.err.k-focus {box-shadow: none; border:1px solid #ff4646;}

.k-input-inner {padding:0;}

/* textarea */
.k-textarea {min-height: 150px;}
.k-textarea.k-input-solid {padding:0;}
.k-textarea .k-input-inner {padding-block: 12px; padding-inline:0; padding:12px; overflow:hidden;}
.k-textarea .k-input-inner:disabled {background:#edefec;}

/* button */
.k-button-solid-primary {background: #00b272; border-radius: 8px; border:none; color:#fff; padding:4px 16px; font-size:14px; font-weight: 500;}
.k-button-solid-primary:hover {background:#007d4f; color:#fff; border:none;}
.k-button-solid-primary:active,
.k-button-solid-primary.k-focus {box-shadow: none; background:#054a31;}
.k-button-solid-primary:focus,
.k-button-solid-primary.k-focus {box-shadow: none;}
.btnTxt {border:1px solid #00b272; background:#fff; color:#00b272; border-radius: 8px;}
.btnTxt:hover {border:1px solid #007d4f; color:#007d4f; background:#fff;}
.btnTxt:active,
.btnTxt:focus,
.btnTxt.k-focus {box-shadow: none; background:#fff; border:1px solid #054a31; color:#054a31;}

.btnTxt.type01 {border:1px solid #ff4646; color:#ff4646; background:#fff;}
.btnTxt.type01:hover {border:1px solid #e23a3a; color:#e23a3a; background:#fff;}
.btnTxt.type01:active,
.btnTxt.type01:focus,
.btnTxt.type01.k-focus {box-shadow: none; background:#fff; border:1px solid #af2222; color:#af2222;}

.btnTxt.type02 {border:1px solid #afb6b2; color:#69706d; background:#fff;}
.btnTxt.type02:hover {border:1px solid #afb6b2; color:#69706d; background:#fff;}
.btnTxt.type02:active,
.btnTxt.type02:focus,
.btnTxt.type02.k-focus {box-shadow: none; background:#fff; border:1px solid #afb6b2; color:#69706d;}

.btnS {height: 24px; padding:0 12px; border-radius: 4px !important; font-size:12px;}
.btnM {padding:0 12px; height: 32px; font-size:14px;}
.btnL {padding:0 20px; height: 48px; font-size:16px;}

.btnType01 {background:#ff4646; color:#fff; border:none;}
.btnType01:hover {background:#e23a3a; color:#fff; border:none;}
.btnType01:active,
.btnType01:focus,
.btnType01.k-focus {box-shadow: none; background:#af2222; border:none; color:#fff;}

.btnType02 {background:#69706d; color:#fff; border:none;}
.btnType02:hover {background:#69706d; color:#fff; border:none;}
.btnType02:active,
.btnType02:focus,
.btnType02.k-focus {box-shadow: none; background:#69706d; border:none; color:#fff;}

.btnType03 {background:#bff7c1; color:#054a31; border:1px solid #00b272;}
.btnType03:hover {background:#bff7c1; color:#054a31; border:1px solid #00b272;}
.btnType03:active,
.btnType03:focus,
.btnType03.k-focus {box-shadow: none; background:#bff7c1; border:1px solid #00b272; color:#054a31;}

.btnType04 {background:#eafae5; color:#69706d; border:1px solid #afb6b2;}
.btnType04:hover {background:#eafae5; color:#69706d; border:1px solid #afb6b2;}
.btnType04:active,
.btnType04:focus,
.btnType04.k-focus {box-shadow: none; background:#eafae5; border:1px solid #afb6b2; color:#69706d;}

.k-button:disabled,
.k-button.k-disabled {background:#69706d; color:#fff; border-radius: 8px; opacity:1;}

.k-button.btnTxt:disabled,
.k-button.btnTxt.k-disabled {border:1px solid #69706d; color:#69706d; background:#edefec; opacity:1;}

/* grid */
.k-grid {background:none;}
.k-table-thead,
.k-table-header,
.k-table-group-sticky-header,
.k-alt,
.k-gantt-toolbar .k-state-default,
.k-grid .k-grouping-header,
.k-grid-header,
.k-grid-header-wrap,
.k-grouping-header .k-group-indicator,
.k-header,
.k-grid tr:hover {background:none;}

.k-grid,
.k-grid th,
.k-grid td,
.k-filter-row th,
.k-grid-header th.k-header {border:none; text-align: center;}

.k-grid-header th.k-header {border-top:2px solid #012011; border-bottom:1px solid #012011;}

.k-grid tr:hover {background:#eafae5;}
.k-grid-header tr:hover {background:none;}

.k-grid-header th.k-header,
.k-grid th,
.k-grid td {font-size:16px; padding:0 20px;}
.k-grid-header th.k-header,
.k-grid th {font-weight: 500; padding:0 20px;height: 48px; vertical-align: middle;}
.k-grid td {font-weight: normal; height: 52px; border-bottom:1px solid #dedfee;}

/* grid-react */
div.k-grid-footer,
div.k-grid-header {padding-right: 0; border-right: none;}
.k-grid-header-wrap {border-right: none;}
.k-grid .k-table-thead,
.k-grid .k-table-header,
.k-grid .k-table-group-sticky-header,
.k-grid .k-alt,
.k-grid .k-gantt-toolbar .k-state-default,
.k-grid .k-grid .k-grouping-header,
.k-grid .k-grid-header,
.k-grid .k-grid-header-wrap,
.k-grid .k-grouping-header .k-group-indicator,
.k-grid .k-header,
.k-grid .k-grid tr:hover {background:none; box-sizing:border-box;}
.k-grid,
.k-grid th,
.k-grid td,
.k-filter-row th,
.k-grid-header th.k-header {border:none; text-align: center; box-sizing:border-box;}
.k-grid .k-header>.k-cell-inner {text-align: center;}
.k-grid .k-cell-inner>.k-link {margin:0; justify-content: center;}
.k-grid .k-table-row.k-table-alt-row{background:inherit;}
.k-grid-header th.k-header {border-top:none; border-bottom:1px solid #012011;}
div.k-grid-header {border-top:2px solid #012011; padding-right:10px;}
.k-grid .k-grid-header .k-table-th{vertical-align: middle; background:#fff;}
.k-grid .k-table-tbody > .k-table-row:not(.k-detail-row):hover{background:#eafae5;}
.k-grid-header tr:hover {background:none;}
.k-grid-header th.k-header,
.k-grid th,
.k-grid .k-grid-container .k-grid-content td {font-size:15px; padding:0 5px;}
.k-grid-header th.k-header {font-weight: 500; padding:0 5px;height: 48px; vertical-align: middle;}
.k-grid-norecords-template {height: auto; width: auto;}

.k-grid-content .k-table-row:last-child > td,
.k-grid-content .k-table-row:last-child > .k-table-td,
.k-grid .k-grid-container .k-grid-content td {font-weight: normal; height: 48px; border-bottom:1px solid #dedfee; border-left:0; text-align: center; font-size:15px;}
.k-grid-norecords-template {border:none;}

.k-grid td.k-selected,
.k-grid .k-table-row.k-selected > td,
.k-grid .k-table-td.k-selected,
.k-grid .k-table-row.k-selected > .k-table-td {background:#eafae5;}

.k-table .k-checkbox-wrap .k-checkbox[type='checkbox'] {display:inline-block; border:1px solid #a5e2c5; width: 20px; height: 20px;}
.k-table .k-checkbox-wrap .k-checkbox[type='checkbox']:checked {border:1px solid #00b272; background:url('../images/checkbox_on.png') no-repeat center #fff; background-size:12px 10px;}
.k-table .k-checkbox-wrap .k-checkbox[type='checkbox']:focus {box-shadow: none;}

div.k-grid-norecords {width: 100% !important;}

/* grid - react - type01 */
.cmn_grid.type01 .k-grid-header th.k-header {height: 24px;}
.cmn_grid.type01 .k-grid-header th.k-header,
.cmn_grid.type01 .k-grid th,
.cmn_grid.type01 .k-grid .k-header>.k-cell-inner {font-size:12px;}

.cmn_grid.type01 .k-grid .k-grid-container .k-grid-content td {font-size:12px; height: 28px;}

/* grid - paging - react*/
.k-pager {display:flex; justify-content: center; background:none; margin-top:28px; border:none;}
.k-pager .k-button::before,.k-pager .k-button::after{display:none !important;}
.k-pager-numbers .k-button {color:#343b37; font-size:16px; font-weight: normal; border-radius: 4px; width: 40px;}
.k-pager .k-button:hover{background:#eafae5 !important; }
.k-pager .k-button:focus{box-shadow: none; background:#bff7c1 !important;}
.k-pager-numbers .k-button.k-selected{background:none !important; color:#00b272; font-weight: 500;}
.k-pager-nav {border-radius: 0; width: 40px; height: 40px; display: inline-flex; align-items: center;}
.k-pager-nav .k-icon {width: 24px; height: 24px;}
.k-pager .k-button svg{display:none;}
.k-svg-i-caret-alt-right {background:url('../images/icon_page_next.png') no-repeat center; background-size:24px 24px;}
.k-svg-i-caret-alt-to-right{background:url('../images/icon_page_end.png') no-repeat center; background-size:24px 24px;}
.k-svg-i-caret-alt-left{background:url('../images/icon_page_next.png') no-repeat center; background-size:24px 24px; transform: rotate(180deg);}
.k-svg-i-caret-alt-to-left{background:url('../images/icon_page_end.png') no-repeat center; background-size:24px 24px; transform: rotate(180deg);}

.k-pager-numbers-wrap .k-pager-nav {padding:0; border-radius: 4px;}
.k-grid-header table,
.k-grid-content table {table-layout: auto;}

/* grid - paging */
.k-pager-wrap {background:none; margin-top:28px; border:none;}
.k-pager-numbers .k-link {color:#343b37; font-size:16px; font-weight: normal; border-radius: 0;}
.k-pager-wrap .k-link,
.k-pager-wrap .k-link.k-state-disabled {border:none;}
.k-pager-wrap .k-link.k-state-selected {background:none; color:#00b272; font-weight: 500;}
.k-pager-wrap .k-link:hover {background:#eafae5;}
.k-pager-wrap .k-link:focus {box-shadow: none; background:#bff7c1;}

.k-pager-nav {border-radius: 0; width: 40px; height: 40px; display: inline-flex; align-items: center;}
.k-pager-nav .k-icon {width: 24px; height: 24px;}
.k-i-arrow-60-right:before,
.k-i-arrow-end-right:before,
.k-i-arrow-60-left:before,
.k-i-arrow-end-left:before {content:""; width: 24px; height: 24px;}

.k-i-arrow-60-right:before {background:url('../images/icon_page_next.png') no-repeat center; background-size:24px 24px;}
.k-i-arrow-end-right:before {background:url('../images/icon_page_end.png') no-repeat center; background-size:24px 24px;}
.k-i-arrow-60-left:before {background:url('../images/icon_page_next.png') no-repeat center; background-size:24px 24px; transform: rotate(180deg);}
.k-i-arrow-end-left:before {background:url('../images/icon_page_end.png') no-repeat center; background-size:24px 24px; transform: rotate(180deg);}

/* calendar - react */
.k-datepicker {padding:0 0 0 10px; background:#fff;}
.k-datepicker > .k-input > .k-input-inner {padding:0; font-size:14px;}
.k-datepicker > button{border:0; border-radius:0; width:32px; height:100%; background:url("../images/icon_calendar_btn.png")center center no-repeat; background-size:24px 24px;}
.k-datepicker:hover > button{background:url("../images/icon_calendar_btn_hover.png")center center no-repeat; background-size:24px 24px;}
.k-datepicker > button svg{display:none;}
.k-calendar .k-calendar-td.k-selected:hover .k-calendar-cell-inner,
.k-calendar .k-calendar-td.k-selected:hover .k-link,
.k-calendar .k-calendar-td.k-selected.k-hover .k-calendar-cell-inner,
.k-calendar .k-calendar-td.k-selected.k-hover .k-link,
.k-calendar .k-calendar-td.k-selected .k-calendar-cell-inner,
.k-calendar .k-calendar-td.k-selected .k-link {background-color:#00b272;}
.k-calendar .k-calendar-navigation li:hover,
.k-calendar .k-calendar-navigation li.k-hover,
.k-calendar .k-calendar-view .k-today {color:#00b272;}
.k-daterange-picker .k-dateinput,
.k-daterangepicker .k-dateinput {width: auto;}

/* dropdown - react*/
.k-dropdownlist{height:32px; border-radius:8px; border:1px solid #a5e2c5; background:#fff; padding:0;}
.k-dropdownlist:hover{background:none; border:1px solid #054a31; background:#fff;}
.k-dropdownlist > .k-input-inner{padding:0 0 0 12px; }
.k-dropdownlist > .k-input-inner > .k-input-value-text{font-size:14px;}
.k-dropdownlist.k-picker > button{width:32px; height:32px; background:url("../images/icon_dropdown.png")center center no-repeat; background-size:24px;}
.k-dropdownlist.k-picker > button svg{display:none;}
.k-dropdownlist.k-disabled {background: #edefec; opacity: 1;}

/* dropdown list - react */
.k-dropdownlist-popup{padding: 12px; border-radius: 8px; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1); border: solid 1px #054a31; background-color: #fff; margin-top:8px;}
.k-dropdownlist-popup .k-list-ul .k-list-item{padding:8px 12px 8px 12px; border-radius:8px;}
.k-dropdownlist-popup .k-list-ul .k-list-item.k-focus{box-shadow:none;}
.k-dropdownlist-popup .k-list-ul .k-list-item:hover{background:#eafae5;}
.k-dropdownlist-popup .k-list-ul .k-list-item > .k-list-item-text{font-size:14px;}
.k-dropdownlist-popup .k-list-ul .k-list-item.k-selected{background:#bff7c1; color:inherit;}

.k-list-optionlabel {background:#fff; border-radius: 8px; color:#424242; font-size:14px;}
.k-list-optionlabel.k-selected,
.k-list-optionlabel.k-selected:hover {background:#bff7c1; border-radius: 8px; color:#424242;}

/* combobox - react*/
.k-combobox{height:32px; border-radius:8px; border:1px solid #a5e2c5; background:#fff; padding:0;}
.k-combobox:hover{background:none; border:1px solid #054a31; background:#fff;}
.k-combobox > .k-input-inner{padding:0 0 0 12px; }
.k-combobox > .k-input-inner > .k-input-value-text{font-size:16px;}
.k-combobox > button{width:32px; height:100%; background:url("../images/icon_dropdown.png")center center no-repeat; background-size:24px; border:0;}
.k-combobox > button:hover{background-color:inherit;}
.k-combobox > button svg{display:none;}

/* combobox list - react */
.k-combobox-popup{padding: 12px; border-radius: 8px; box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1); border: solid 1px #054a31; background-color: #fff; margin-top:8px;}
.k-combobox-popup .k-list-ul .k-list-item{padding:8px 12px 8px 12px; border-radius:8px;}
.k-combobox-popup .k-list-ul .k-list-item.k-focus{box-shadow:none;}
.k-combobox-popup .k-list-ul .k-list-item:hover{background:#eafae5;}
.k-combobox-popup .k-list-ul .k-list-item > .k-list-item-text{font-size:14px;}
.k-combobox-popup .k-list-ul .k-list-item.k-selected{background:#bff7c1; color:inherit;}

/* file upload */
.k-upload {border:none;}
.popCont .col2 .popTbl:last-child .k-upload {background:none;}
.k-upload .k-dropzone,
.k-upload .k-upload-dropzone {border:none; background:transparent; overflow: hidden; padding:0;}
.k-upload .k-upload-status,
.k-upload .k-dropzone .k-dropzone-hint,
.k-upload .k-upload-dropzone .k-dropzone-hint {color:#00b272; font-size:14px;}
.k-upload .k-upload-button { height: 32px; border:1px solid #00b272; border-radius: 8px; background:#fff; color:#00b272; padding:0 20px; margin-right: 10px;}
.k-upload .k-upload-button:hover,
.k-upload .k-upload-button:focus {border:1px solid #007d4f; color:#007d4f;}
.k-upload .k-upload-files {display: flex; flex-direction: column;  gap: 12px; padding:16px 20px; max-height: 140px; overflow-y:scroll; border:1px solid #a5e2c5; border-radius:12px; margin-top:8px;}
.k-upload .k-upload-files .k-file {border:1px solid #00b272; border-radius: 4px; background: #eafae5; display: inline-flex; width: fit-content; color:#012011; font-size:14px; font-weight: normal;}
.k-upload .k-upload-files .k-file:last-child {border-width:1px;}
.k-upload .k-upload-files .k-file .k-button {margin-left:30px; background:#00b272;}
.k-upload .k-upload-files .k-file .k-button .k-button-text {font-size:12px; color:#fff;}
.k-upload .k-file.k-focus {box-shadow: none;}

/* tree view */
.k-treeview-item {margin-bottom:8px; padding:0;}

.k-treeview-toggle {width: 40px; height: 40px; justify-content: center; margin-left:0;}
.k-treeview-toggle .k-svg-i-caret-alt-right {background: url('../images/icon_plus_wt.png') no-repeat center #69706d; border-radius: 4px; width: 24px; height: 24px; background-size: 24px 24px;}
.k-treeview-toggle .k-svg-i-caret-alt-down {background: url('../images/icon_minus_wt.png') no-repeat center #d3d7d5; border-radius: 4px; width: 24px; height: 24px; background-size: 24px 24px;}
.k-treeview-toggle .k-icon > svg {display: none;}

.k-treeview .k-checkbox-wrap {border-left:1px solid #afb6b2; border-top:1px solid #afb6b2; border-bottom:1px solid #afb6b2; border-radius: 8px 0 0 8px; margin:0; height: 40px; display: inline-flex; align-items: center; padding-left: 12px; background:#fff;}
.k-treeview .k-treeview-leaf {border-right:1px solid #afb6b2; border-top:1px solid #afb6b2; border-bottom:1px solid #afb6b2; border-radius: 0 8px 8px 0; padding:0; min-width: 208px; height: 40px; box-sizing: inherit; color:#69706d; font-size:15px; font-weight: normal; background:#fff;}

.k-treeview .on .k-checkbox-wrap {border-left:1px solid #00b272; border-top:1px solid #00b272; border-bottom:1px solid #00b272; color:#012011;}
.k-treeview .on .k-treeview-leaf {border-right: 1px solid #00b272; border-top:1px solid #00b272; border-bottom:1px solid #00b272; color:#012011;}
.k-treeview .k-treeview-leaf.k-hover,
.k-treeview .k-treeview-leaf:hover {background:none; background:#fff;}

.k-treeview .k-checkbox + .k-checkbox-label, input[type='checkbox'] + label {margin:0;}

.k-treeview .k-animation-container {margin:8px 0 0 80px;}
.k-treeview .k-animation-container .k-treeview-item {padding-left:0;}
.k-treeview .k-checkbox-label:empty {display: inline-flex !important;}
.k-treeview-leaf:focus,
.k-treeview-leaf.k-focus {box-shadow: none;}

/* tree list */
.k-table-md .k-table-th,
.k-table-md .k-table-td {padding-block:0;}
.cmn_grid_treeList .k-text-nowrap {text-align: left;}
.k-treelist-toggle.k-svg-icon {width: 24px; height: 24px; padding:0; background:none;}
.k-treelist-toggle.k-svg-icon path {fill:#00b272;}
.k-grid td,
.k-grid .k-table-td {border-bottom:1px solid #dedfee; border-right: none; border-left:none; font-size:16px; font-weight: normal;}
.k-treelist-scrollable > .k-table {overflow:hidden;}

/* timepicker */
.k-timepicker.k-input-solid {padding:0 4px 0 12px; align-items: center;}
.k-timepicker .k-button-md.k-icon-button {padding:0; border-inline-start-width:0; margin-left:auto;}
.k-timepicker .k-input-button > .k-button-icon {width: 24px; height: 24px;background:url("../images/icon_time_on.png") no-repeat center; background-size:24px 24px; display: inline-block;}
.k-timepicker .k-button-md.k-icon-button .k-button-icon.k-svg-icon > svg {display:none;}
.k-timepicker .k-button-solid-base:hover,
.k-timepicker .k-button-solid-base:focus,
.k-timepicker .k-button-solid-base.k-hover {background:none;}
.k-time-footer button{border-radius: 8px; padding:10px 20px; font-size:15px; font-weight: 500; width: 50%;}
.k-time-header .k-time-now,
.k-time-selector-header .k-time-now,
.k-time-list .k-item:hover {color:#00b272;}
.k-time-header .k-time-now:hover,
.k-time-selector-header .k-time-now:hover,
.k-button-overlay, .k-button::before {background:#00b272; color:#00b272;}

/* chart */
.k-chart-donut-center > span {color:#69706d; font-size:14px; font-weight: 500; letter-spacing: -0.56px; line-height: 1;}
.k-chart-donut-center > span > b {font-size:32px; font-weight: bold; color:#012011; line-height: 1; margin-top:5px; display: inline-block;}

/* DateRangePicker */
.k-calendar .k-range-start,
.k-calendar .k-range-end,
.k-calendar .k-range-mid {background-color:rgb(0, 178, 114, 0.25)}
.k-calendar .k-range-split-end::after {background-image: linear-gradient(to right, rgba(0, 178, 114, 0.25), transparent 100%)}
.k-calendar .k-range-split-start::after {background-image: linear-gradient(to left, rgba(0, 178, 114, 0.25), transparent 100%)}

/* datetimepicker */
.k-datetimepicker {padding:0 0 0 12px;}
.k-datetimepicker .k-button-md.k-icon-button {border-inline-start-width:0; width: 32px; height: 32px; padding:0;}
.k-datetimepicker .k-button-md.k-icon-button .k-icon {background: url("../images/icon_calendar_btn.png") no-repeat center; background-size:24px 24px; width: 24px; height: 24px;}
.k-datetimepicker .k-button-md.k-icon-button .k-icon > svg {display: none;}
.k-button-solid-base.k-selected {background:#00b272; border-color:#00b272;}
.k-time-header .k-time-now,
.k-time-selector-header .k-time-now,
.k-time-list .k-item:hover {color:#00b272;}
.k-time-header .k-time-now:hover,
.k-time-selector-header .k-time-now:hover,
.k-button-overlay, .k-button::before {background:#00b272; color:#00b272;}
.k-datetimepicker .k-button-solid-base:hover,
.k-datetimepicker .k-button-solid-base.k-hover {background: none;}
.k-animation-container .k-button-solid-primary {border-radius: 4px;}